* {
  padding: 0%;
  margin: 0%;
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

body {
  background-image: url(/images/paint.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 960px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  border-left: solid thick red;
  border-right: solid thick red;
}

.header {
  display: flexbox;
  height: 10vh;
  width: 100%;
}

.header::before {
  height: 10vh;
  width: 960px;
  opacity: 0.5;
  content: "";
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(50%, #6284FF), to(#FF0000));
  background-image: linear-gradient(90deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
}

.header--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.header--logo ul {
  display: flexbox;
}

.header--logo ul li {
  display: inline;
  font-size: 2rem;
  margin-left: 50px;
  color: white;
}

main {
  display: flexbox;
  height: 90vh;
  width: 100%;
}

main #startscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 90vh;
  width: 960px;
  background: url(/images/paper.gif) no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: 2s;
  transition: 2s;
}

main #startscreen:hover {
  opacity: 0.2;
}

main #startscreen h2 {
  display: flexbox;
  width: 300px;
  height: 300px;
  background-image: url();
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

main .grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  -ms-grid-columns: 2fr 1fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 1fr 2fr;
      grid-template-areas: "box1 box1 box2 box2" "box3 box4 box4 box5";
}

main .grid--popup {
  width: 400px;
  position: absolute;
  left: 50%;
  bottom: 20%;
  margin-left: -200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  background-color: white;
}

main .grid--popuph1 {
  display: flexbox;
}

main .grid--popup input {
  text-align: center;
}

main .grid--playerScreen {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: box1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-right: none;
}

main .grid--playerScreenh1 {
  display: flexbox;
}

main .grid--computerScreen {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: box2;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-left: none;
}

main .grid--computerScreenh1 {
  display: flexbox;
}

main .grid--rockButton {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: box3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6f8b20), color-stop(50%, #6284FF), to(#FF0000));
  background-image: linear-gradient(180deg, #6f8b20 0%, #6284FF 50%, #FF0000 100%);
  -webkit-transition: 5s;
  transition: 5s;
}

main .grid--rockButtonh1 {
  display: flexbox;
}

main .grid--rockButton:hover {
  background-image: none;
  background-color: fuchsia;
  opacity: 0.5;
  -webkit-transition: 2s;
  transition: 2s;
}

main .grid--paperButton {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: box4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6f8b20), color-stop(50%, #6284FF), to(#FF0000));
  background-image: linear-gradient(180deg, #6f8b20 0%, #6284FF 50%, #FF0000 100%);
  -webkit-transition: 5s;
  transition: 5s;
}

main .grid--paperButtonh1 {
  display: flexbox;
}

main .grid--paperButton:hover {
  background-image: none;
  background-color: fuchsia;
  opacity: 0.5;
  -webkit-transition: 2s;
  transition: 2s;
}

main .grid--scissorsButton {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: box5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6f8b20), color-stop(50%, #6284FF), to(#FF0000));
  background-image: linear-gradient(180deg, #6f8b20 0%, #6284FF 50%, #FF0000 100%);
  -webkit-transition: 5s;
  transition: 5s;
}

main .grid--scissorsButtonh1 {
  display: flexbox;
}

main .grid--scissorsButton:hover {
  background-image: none;
  background-color: fuchsia;
  opacity: 0.5;
  -webkit-transition: 2s;
  transition: 2s;
}
/*# sourceMappingURL=styles.css.map */